# Ignore environment variables and sensitive files
.env

# Ignore Python cache and temporary files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore local database or logs
*.db
*.sqlite3
*.log

# Ignore virtual environments
venv/
env/
.benv/
.benv
.benv/

# VSCode or IDE settings
.vscode/
.idea/
