# Environment variables and sensitive files
.env

# Python cache and temporary files
__pycache__/
*.pyc
*.pyo
*.pyd

# Local database or logs
*.db
*.log

# virtual environments
venv/
env/
.benv/
.benv
.benv/

